.icono {
  color: #e84a5f;
  font-size: 2rem;
  margin-left: -3rem;
  @media screen and (max-width:320px) {
    margin-left: -5rem;
  }
}
.input {
  padding: 0.8rem;
  border: none;
  border-radius: 1rem;
  width: 38vw;
  font-family: Roboto, sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: #838383;
 outline: none;
@media screen and (max-width: 600px){
   width:88vw;
 }
  @media screen and (max-width:320px){
  width: 94vw;
 margin-right: 4px;
    margin-left: 4px;
}

}
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
input::placeholder {
  font-family: Roboto, sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: #ad9d9d;
}
.btn {
  border: none;
  background-color: #848ccf;
  outline: none;
}

.tareas {
  background-color: white;
  font-family: Roboto, sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: #3d3d3d;
  padding: 0.8rem;
  list-style: none;
  border-radius: 1rem;
  width: 38vw;
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
 @media screen and (max-width: 600px){
   width:88vw;
}
 @media screen and (max-width:320px){
 width: 94vw;
margin-right: 4px;
    margin-left: 4px;
}
}
.trashcan {
  font-size: 1.5rem;
}
.checkbox {
  height: 1rem;
  width: 1rem;
}
.btn-trashcan {
  background-color: white;
  border: none;
}

.filtros {
  background-color: white;
  font-family: Roboto, sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: #3d3d3d;
  padding: 0.8rem;
  list-style: none;
  border-radius: 1rem;
  width: 38vw;
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  outline: none;
   @media screen and (max-width: 600px){
   width:88vw;
   margin-right: 4px;
    margin-left: 4px;
   }
 @media screen and (max-width:320px){
  width: 94vw;
}
}

.btn-filtros {
  padding: 0.5rem 0.8rem;
  border-radius: 1.5rem;
  border: none;
  outline: none;
}
.btn-filtros--incompletas {
  font-family: Roboto, sans-serif;
  background-color: #e84a5f;
  font-weight: 500;
  color: white;
}
.btn-filtros--completas {
  font-family: Roboto, sans-serif;
  background-color: #616060;
  font-weight: 500;
  color: white;
}
.btn-filtros--todas {
  font-family: Roboto, sans-serif;
  background-color: #ff847c;
  font-weight: 500;
  color: white;
}
.icono-clase {
  font-size: 2rem;
}